.venv/

dataset_final/
dataset_limpio/
dataset_ppe2/
dataset_ppe_final/
dataset_ppe_final_limpio/

prueba_camara.py
test_camara.py

combinar_datasets.py
eliminar_etiquetas_vacias.py
limpiar_dataset.py
limpiar_dataset_ppe_final.py

yolo11n.pt
yolo26n.pt

runs/*
!runs/detect/
!runs/detect/train/
!runs/detect/train/weights/
!runs/detect/train/weights/best.pt
!runs/detect/train/args.yaml
!runs/detect/train/results.csv

__pycache__/
*.pyc